{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="card text-center" style="width: 28rem;">
    <img src="https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif" class="card-img-top" alt="">
    <div class="card-body">
        <h4>Home Page 🦝</h4>
        <p class="card-text">Welcome to my simple app!
        </p>
    </div>
</div>

<!-- <h1>Home Page</h1>
        <p>🦝</p>
        <p>Welcome to my simple app!</p>
        <img src="https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif" alt=""> -->





{% endblock %}